body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  &-track,
  &-thumb,
  &-button {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  &-corner {
    background-color: black !important;
  }
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
